@font-face {
  font-family: Inter;
  src: url("./Inter-ExtraLight.ttf");
}

/* general styling */
* {
  margin: 0;
  font-weight: normal;
  text-underline-offset: 2px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-rows: 40px calc(100vh - 80px) 40px;
  font-family: Inter;
  height: 100vh;
  width: 100vw;
  background-color: hsl(200, 100%, 99%);
}

#container {
  width: 100%;
  justify-self: center;
  grid-row: 2;
  overflow: auto;
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
  max-width: 768px;
  padding: 5px;
  justify-self: center;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  margin: 30px 0px 15px 0px;
}

h3 {
  font-size: 1.1rem;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: 0.9rem;
  line-height: 1.5rem;
  background-color: hsl(200, 100%, 97%);
  border-radius: 5px;
  padding: 5px;
}

a {
  color: black;
  font-size: 0.8rem;
}

ul {
  padding: 0px 5px 0px 20px;
}

li {
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin: 10px 0px;
}

.read-more {
  background-color: hsl(200, 100%, 99%);
  border: none;
  font-family: Inter;
  cursor: pointer;
  font-size: 0.8rem;
  padding: 0px;
}

.read-more:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
}

.hidden-content {
  display: none;
}

.revealed-content {
  background-color: hsl(200, 100%, 97%);
  border-radius: 5px;
  padding: 5px;
}

/* header / footer / nav styles */

header {
  display: flex;
  justify-content: center;
  width: 100%;
  grid-row: 1;
  background-color: hsl(200, 100%, 95%);
}

#header-nav {
  width: 100%;
  height: 100%;
  max-width: 768px;
  display: flex;
  justify-content: center;
  gap: 5%;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  grid-row: 3;
  background-color: hsl(200, 100%, 95%);
}

#footer-nav {
  width: 100%;
  max-width: 768px;
  display: flex;
  justify-content: center;
  gap: 25%;
  align-items: center;
  background-color: hsl(200, 100%, 95%);
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.1px;
}

/* about section */
#about {
  display: grid;
}

/* profile section */
#profile {
  display: grid;
  gap: 5px;
  margin-bottom: 10px;
}

#profile h1 {
  text-align: center;
}

#profile button {
  margin: 5px 0px;
}

#profile-pic {
  justify-self: center;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

@media (min-width: 480px) and (min-height: 480px) {
  #profile-pic {
    height: 300px;
    width: 300px;
  }
}

#description {
  text-align: center;
  font-size: 1.2rem;
  background-color: hsl(200, 100%, 99%);
}

.about-button {
  justify-self: center;
  font-size: 0.9rem;
}

#bio p {
  margin: 10px 0px;
}

#hire-me ul {
  padding: 0px 5px 0px 20px;
}

#hire-me li {
  margin: 10px 0px;
}

#testimonials p {
  margin: 15px 0px;
}

#student-anonymity {
  background-color: hsl(200, 100%, 99%);
  text-align: center;
  font-size: 0.8rem;
}

/* tools and tech section */

#tools-tech {
  margin-top: 5px;
}

#tools-tech article {
  margin: 20px 0px;
}

#tools-tech p {
  margin: 6px 10px 0px 10px;
}

/* Topics of interest */

#topics {
  margin-bottom: 15px;
}

#topics p {
  margin: 0px 10px;
  text-align: center;
}

/* Work experience */

#experience {
  margin-bottom: 15px;
}

#experience article {
  margin: 0px 0px 15px 0px;
  background-color: hsl(200, 100%, 97%);
  padding: 5px;
  border-radius: 5px;
}

#experience button {
  margin-top: 5px;
  margin-left: 10px;
  background-color: hsl(200, 100%, 97%);
}

#experience section {
  margin: 15px 10px 20px 10px;
}

#experience ul {
  padding-left: 20px;
}

#experience li {
  margin: 10px 5px;
}

/* Project section */

#projects {
  margin-bottom: 15px;
}

#projects section {
  margin-bottom: 15px;
}

#projects article {
  margin: 10px 10px 0px 10px;
  padding: 5px;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 1.5rem 1.5rem 1fr;
  background-color: hsl(200, 100%, 97%);
}

#projects article h4 {
  text-decoration: underline;
}

#projects article section {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  gap: 10px;
}

#projects article a {
  text-decoration: none;
}

#projects article a:hover {
  text-decoration: underline;
}

#projects article button {
  justify-self: start;
  background-color: hsl(200, 100%, 97%);
}

#projects article p {
  margin-top: 10px;
  margin-right: 10px;
  padding: 0px;
}

/* Blogs */

#blogs p {
  text-align: center;
  font-style: italic;
}
